* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    color: #333;
    background: #d8bfd8;
    background: -webkit-linear-gradient(80deg, #d8bfd8 0%, #00a1ce 50%, #b3efff 100%);
    background: linear-gradient(80deg, #d8bfd8 0%, #00a1ce 50%, #b3efff 100%);
}

header {
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.0);
    color: #fff;
    padding: 1.5em 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.5s ease;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

header h1 {
    margin-left: 3em;
}

header nav ul {
    list-style: none;
    display: flex;
    margin-right: 3em;
    font-size: 1.2em;
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: font-size 0.2s ease;
}

header nav ul li a:hover {
    font-size: 1.1em;
}

header nav ul li a.active {
    /* Additional styling for active links */
}

header.scrolled h1, 
header.scrolled nav ul li a {
    color: #00a1ce;
}

.install-link {
    background-color: #ff6347;
    padding: 0.5em 1em;
    border-radius: 20px;
}

.install-link.scrolled {
    background-color: #00a1ce;
    color: #fff;
}

.hero {
    position: relative;
    height: 90vh;
    background-color: #005BBB; /* Change this to the solid color you prefer */
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background:
    linear-gradient(40deg, rgba(0, 91, 150, 0.1) 25%, transparent 25%, transparent 60%, rgba(0, 91, 187, 0.1) 75%),
    linear-gradient(70deg, rgba(0, 91, 187, 0.1) 50%, transparent 25%, transparent 75%, rgba(0, 91, 187, 0.1) 40%);


}

.hero .container {
    position: relative;
    z-index: 1;
    text-align: center;
}

.hero h2 {
    margin-bottom: em;
    font-size: 5em;
    margin-top: 2em;
}

.hero .qr-code {
    width: 300px;
    height: 300px;
    margin: 2em 0;
}

.install-steps {
    text-align: left;
    margin: 2em auto;
    max-width: 800px;
    font-size: 1.2em;
    margin-bottom: 5em;
}

.install-steps p {
    margin-bottom: 0.2em; /* Add some spacing between each step */
}

.install-steps strong {
    font-weight: bold;
}



.features {
    padding: 2em 1em;
    background: #F5F5F5;
    height: 70vh;
}

.testimonials {
    padding: 4em 1em;
     height: 90vh;
    background: #F5F5F5;
    
}

.features h2 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 4em;
    color: #FF6347;
    margin-top: 1.0em;
    letter-spacing: -1px;
    
}

.testimonials h2  {
    text-align: center;
    margin-bottom: 1em;
    font-size: 4em;
    color: #FF6347;
    margin-top: 1.0em;
    letter-spacing: -1px;
}

.features .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2em;
    flex-direction: column; /* Add this line to stack items vertically */
    align-items: center; /* Add this line to center items horizontally */
    
}

.testimonials .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2em;
    flex-direction: row; /* Add this line to stack items vertically */
    align-items: center; /* Add this line to center items horizontally */
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the space between the items as needed */
    margin-top: -1em;
    z-index: 1;
    justify-content: center;
    
}

.circle-frame {
    width: 100px; /* Adjust the size as needed */
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    display: block;
    
}

.circle-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}


.feature-item, .testimonial-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2em;
    max-width: 300px;
    text-align: center;
}


.video-container {
    margin-right: 5em;
}

.feature-item .icon {
    font-size: 36px; /* Adjust the size of the icon */
    
}

.testimonial-item .icon {
    font-size: 15px; /* Adjust the size of the icon */
    margin-top: 40 em;
    
}


.feature-item h3{
    margin-bottom: 0.5em;
    margin-top: 1em;
    color: #007bff;
    
}

.testimonial-item h4 {
    color: #007bff;
}
.testimonial-item p {
    font-style: italic;
    color: #555;
     margin-bottom: 0.5em;
    margin-top: 0.8em;
}


footer {
    background: -webkit-linear-gradient(80deg, #d8bfd8 0%, #00a1ce 50%, #b3efff 100%);
    background: linear-gradient(80deg, #d8bfd8 0%, #00a1ce 50%, #b3efff 100%);
    background: 
        linear-gradient(80deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.1) 75%),
        linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.1) 75%);
    color: #fff;
    text-align: center;
    padding: 2em 0;
    position: relative;
}

footer p {
    margin: 0.5em 0;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

footer .social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 1.0em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #ff6347;
}

footer .social-icons i {
    font-size: 1em;
}
